body{
    background-color: darkcyan;
    box-sizing: border-box;
}

.header{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: black;
    text-align: center;
}
.main_container{
    background-color: white;
    margin: 3% 14% 3% 14%;
    border-radius: 10px;
    height: 80px;
    border: black solid 3px;
}
.img_container{
    float: left;
    width: auto;
    padding: 0%;
    box-sizing: border-box;
    margin:0%;
}

img{
    border-radius: 10px;
    background-size: cover;
    margin:0%;
    height: 80px;
}
.info_container{
    float:right;
    width: 70%;
    padding: none;
    font-size: 20px;
    box-sizing: border-box;
    height: 50px;
    margin: 34px 0px auto 0px;
}

.name{
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: darkblue;
    margin: 0px 0px 4px 0px;
    padding: 0%;
}

.clearfix{
    clear: both;
}
@media only screen and (max-width: 900px){
    .info_container{
        float:none;
        width: auto;
        margin: 0%;
        padding: 5%;
        height: auto;
    }
    .img_container{
        float:none;
        width: auto;
        margin: 0%;
        padding: 0%;
        padding-top: 5%;
        text-align: center;
    }
    .main_container{
        height: auto;
        margin: 2% 5% 2% 5%;
        padding: 0%;
    }
    .name{
        text-align: center;
        font-size: 25px;
    }
    img{
        max-width: 90%;
        max-height: 20%;
    }
}
