*{
    box-sizing: border-box;
}
body{
    color: white;
    background-color: rgb(49, 47, 47);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.mainheading{
    margin-top: 70px;
    font-size: 50px;
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 100px;
}
.image{
    width: 70px;
    height: 70px;
    align-self: right;
    margin-top: -50px;
    margin-left: 85%;
    
}
.charcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    padding: 0%;
    margin-top: 60px;
}
.characterinfo{
    width: 20%;
    background-color: lightgrey;
    border-radius: 10%;
    border: 3px solid white;
    color: black;
    margin: 10px 10px 10px 10px;
    text-align: center;
}
.characterinfo .imgcont{
    width: 250px;
    height: 150px;
}
.characterinfo .imgcont img{
    margin-top: 20px;
    width: 100px;
    height: 140px;
    border-radius: 10%;
    border: 3px solid rgb(49, 47, 47);
}
.info{
    font-family: calibri;
    font-size: 16px;
    margin-bottom: 10px;
}
.info .namecont{
    font-family: arial;
    margin-bottom: 4px;
}
.portrayedcont{
    margin-bottom: 5px;
}
